<div class="container">
<button mat-raised-button class="color" (click)="componentView('aIncassi')">INCASSI</button>
<button mat-raised-button class="color" (click)="componentView('aSpese')">SPESE</button>
<button mat-raised-button class="color" (click)="componentView('aSA')">STIPENDI AMMINISTRAZIONE</button>
<button mat-raised-button class="color"(click)="componentView('aSL')">STIPENDI LOGISTICA</button>
<button mat-raised-button class="color" (click)="componentView('aST')">STIPENDI TESORERIA</button>
</div>

