<div class="container">
<div>EFFETTUA UN ORDINE</div>
<div class="spedizioni">
    <mat-form-field appearance="fill">
        <mat-label>Prodotto</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
       
      </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fornitore</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
     
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Filiale</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Inserisci quantità</mat-label>
        <input matInput #input  placeholder="Quantità">
        
      </mat-form-field>
   </div>
</div>